* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	width: 100%;
	overflow-x: hidden;
}


button {
  background-color: #4CAF50 !important; /* Green */
  border: none;
  color: white;
  padding: 20px;
  text-color:#FFFFFF;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
.btn {
  border-radius: 4px;
}
h1 {
	font-size: 27px;
	text-align: center;
	padding: 15px 25px;
	border-radius: 4px;
}
img {
width: 100%;
	max-width: 400px;
	max-height:auto;
	border-radius: 6px;
}

.ques-box {
	width: 100%;
	max-width: 800px;
	padding: 15px 25px;
	margin: 50px auto 0 auto;
	border-radius: 6px;
	box-shadow: 10px 10px 5px grey;
}

.option {
	display: flex;
	flex-direction: row;
    margin: 23px auto 0 auto;
}

.title {
	font-size: 22px;
	font-weight: 500;
	color: red;
}

.option p {
	margin-left: 15px;
	position: relative;
	margin-top: -6px;
}

footer {
	height: 80px;
	text-align: center;
	line-height: 80px;
}